body {
    margin:0px;
    padding:0px;
    width:320px;           /* adjust to orientation */ 
    width: 100%;
    overflow-x:hidden;
    /* background: #ccc url(./img/stripes.png); */
    background: #ccc;
    font-family: Helvetica;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}


.nodisplay {
    display: none;
}

a.button {
    /* -webkit-border-image: url(./img/whiteButton.png) 0 12 0 12; */
    margin: 15px 9px 17px 9px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
    display: inline;
    height: 46px;
    text-align: center;
    line-height: 3em;
    text-decoration: none;
    padding: 5px;
    border-width: 0 12px;
    background-color: #ddd;
}

td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}